#pasman {
    background-color: rgb(32, 32, 32);
    height: 100%;
    width: 100vw;
}

h3 {
    color: white;
}

.pasman-input {
    padding: 1rem 3rem;
}

.pasman-start {
    margin-left: .5rem;
    margin-top: 1rem;
    height: auto;
    width: 6rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}

.pasman-start:hover {
    background-color: white;
    color: black;
}

.pasman-start-text {
    margin: auto;
}