#rpg {
    background-color: rgb(32, 32, 32);
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rpg-game {
    margin: auto;
}

.rpg-container {
    width: 100vw;
    z-index: 1;
}

#canvas1 {
    border: 5px, solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.controls, select, option {
    font-size: 25px;
}
